*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  list-style: none;
  cursor: url('./assets/img/icons8-cursor-100.png');
}

* ::-webkit-scrollbar{
  width: 12px;
}

* ::-webkit-scrollbar-thumb {
  background-color: #7D11C4; /* Set the background color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius for a rounded appearance */
}

* ::-webkit-scrollbar-track:hover {
  background-color: #9696C9; /* Set the background color on hover */
}

body,
html {
  scroll-behavior: smooth;
}

body{
  background-image: url('./assets/img/bg_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.Header {
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.270); /* Use an RGBA background for transparency */
  backdrop-filter: blur(10px);
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 30px;
 z-index: 10000;
}

.Header .input_logo{
  background: #000;
}

.Header .input_logo .logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.Header .input_profile{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

 .b_btn{
  background: #016afb;
  color: #fff;
}

.w_btn{
  background: #fff;
  color: #016afb;
}

.menu_trigger{
  position: relative;
}

.menu_trigger .trigger{
  cursor: pointer;
}



.menu_trigger .menu{
  background: #fff;
  position: absolute;
  top: 40px;
  padding: 10px;
  border-radius: 5px;
  right: 10px;
}

.menu_trigger .menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.2 ease;
}

.menu_trigger .menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.2s ease;
}


.menu_trigger .menu::before{
  content: '';
  position: absolute;
  top: -10px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.menu_trigger .menu .m_f{
  cursor: none;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.menu_trigger .menu p{
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: url('./assets/img/icons8-cursor-100.png');
  padding: 4px;
  border-radius: 3px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  text-transform: capitalize;
}

.menu_trigger .menu p img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.menu_trigger .menu p:hover{
  padding: 5px;
  background: #ddd;
}

/**
 * 
 * button section
 */

 button{
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  width: 100px;
  cursor: pointer;
 }

 button:hover{
  opacity: 0.8;
 }

 /**
  * for the form 
  */

  .form-group {
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.150); /* Use an RGBA background for transparency */
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-group form{
    background: #fff;
    min-width: 400px;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .form-group form>div{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .form-group form h1{
    align-self: center;
  }

  .form-group form input{
    width: 100%;
    height: 40px;
    padding: 3px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 5px;
    background: #ddd;
    color: #333;
    outline: none;
  }

  .form-group form input:invalid{
    animation: shake 300ms;
  }

  @keyframes shake {
    0%, 100%{
      transform: translate(0);
    }
    25%{
      transform: translate(0.125rem);
    }
    75%{
      transform: translate(-0.125rem);
    }

  }

  form .imgFile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

  form>div>label>img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.2s ease;
  }

  form .imgFile>label:hover img{
    cursor: pointer;
    transition: scale(0.23, 1);
    width: 150px;
    height: 150px;
  }

  form>div input[type="file"]{
    display: none;
    cursor: pointer;
  }

  form .cancelIcon{
    position: relative;
    top: -20px;
    right: -370px;
    background: #DDD;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;display: flex;
    align-items: center;
    justify-content: center;
  }

  .cancelIcon p{
    text-decoration: none;
    font-size: 30px;
    color: #000;
  }

  form>p{
    margin-bottom: 10px;
  }

  /** Dash board */

  .dashboard{
    display: flex;align-items: center;justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .dashboard .dashboardInfo{
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 10px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }

  .dashboard .dashboardInfo .img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 20px;
  }

  .dashboard .dashboardInfo .img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #000;
    margin: 20px;
    object-fit: cover;
  }

  .dashboard .dashboardInfo input{
    width: 45%;
    height: 40px;
    margin: 5px;
    padding: 5px;
    text-indent: 10px;
    outline: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: #ddd;
    border-radius: 4px;
  }

  .dashboardInfo .dashboardBtn{
    display: flex;
    margin: 40px 0 20px 0;
    gap: 20px;
    font-weight: 600;
  }

  .dashboardInfo  .cancelIcon{
    position: absolute;
    top: 20px;
    right: 30px;
    background: #DDD;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;display: flex;
    align-items: center;
    justify-content: center;
  }

  .dashboardInfo .dashboardBtn p:hover{
    cursor: pointer;
    opacity: 0.8;
  }